[flake8]
max-line-length = 88


docstring-convention = numpy

#Darglint
docstring_style = numpy
strictness=short

                #Black Compatability
extend-ignore = E203, E266,  
                #Style Changes
                
                #Temp
                F841, B007,
                #I belive these are unfixable
                B006
                #Code Changes - Remove later
                F405, F403, F401, F821, B008, E501, B009, B010, E731
                #docstring Formatting - Remove Later
                D400, D401, D205, D105, D103, D102, D102, D107, D200, D100, D101, 
                D412, D202, D301, D104, D405, D409, D404, D411, D410,

                RST304, RST305, RST301, RST213, RST201, RST215, RST210, RST303, RST212,

                DAR103, DAR202, DAR401, DAR101

                #Issue #1148 needs to be closed before removal
                A003,
                #Issue #1149 needs to be closed before removal
                W605