default_stages: [commit, push]
fail_fast: false
exclude: ^(manim/grpc/gen/|docs/i18n/)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
        name: Validate Python
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-toml
        name: Validate Poetry
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
        name: Precision flake ignores
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.4
    hooks:
      - id: ruff
        name: ruff lint
        types: [python]
        args: [--exit-non-zero-on-fix]
      - id: ruff-format
        types: [python]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-docstrings==1.6.0,
            flake8-pytest-style==1.5.0,
            flake8-rst-docstrings==0.2.3,
            flake8-simplify==0.14.1,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.0
    hooks:
      - id: mypy
        additional_dependencies:
          [
            types-backports,
            types-decorator,
            types-docutils,
            types-requests,
            types-setuptools,
          ]
        files: ^manim/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        files: ^.*\.(py|md|rst)$
        args: ["-L", "medias,nam"]
