default_stages: [commit, push]
fail_fast: false
exclude: ^(manim/grpc/gen/|docs/i18n/)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
        name: Validate Python
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-toml
        name: Validate Poetry
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        name: Update code to new python versions
        args: [--py39-plus]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
        name: Precision flake ignores
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff-format
        types: [python]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-bugbear==21.4.3,
            flake8-builtins==1.5.3,
            flake8-comprehensions>=3.6.1,
            flake8-docstrings==1.6.0,
            flake8-pytest-style==1.5.0,
            flake8-rst-docstrings==0.2.3,
            flake8-simplify==0.14.1,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          [
            types-backports,
            types-decorator,
            types-docutils,
            types-requests,
            types-setuptools,
          ]
        files: ^manim/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        files: ^.*\.(py|md|rst)$
        args: ["-L", "medias,nam"]
