[tool.poetry]
name = "manim"
version = "0.15.1"
description = "Animation engine for explanatory math videos."
authors = ["The Manim Community Developers <contact@manim.community>", "3b1b <grant@3blue1brown.com>"]
license="MIT"
readme="README.md"
repository="https://github.com/manimcommunity/manim"
documentation="https://docs.manim.community/"
homepage="https://www.manim.community/"
classifiers= [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Topic :: Scientific/Engineering",
    "Topic :: Multimedia :: Video",
    "Topic :: Multimedia :: Graphics",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Natural Language :: English",
    ]
exclude = ["scripts/","logo/","readme-assets/"]
packages = [
    { include = "manim" },
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
click = ">=7.2<=9.0"
click-default-group = "^1.2.2"
colour = "^0.1.5"
numpy = "^1.9"
Pillow = ">=8.4,<10.0"
scipy = "^1.7.3"
tqdm = "^4.62.3"
pydub = "^0.25.1"
rich = ">=6.0,!=12.0.0"
pycairo = "^1.19"
manimpango = "^0.4.0.post0"
networkx = "^2.5"
decorator = "^5.0.7"
importlib-metadata = { version = "^4.10.0", python = "<3.8" }
watchdog = "^2.1.6"
jupyterlab = { version = "^3.0", optional = true }
moderngl = "^5.6.3"
moderngl-window = "^2.3.0"
mapbox-earcut = "^0.12.10"
cloup = "^0.13.0"
requests = "^2.26.0"
dearpygui = { version = "^1.3.1", optional = true }
skia-pathops = "^0.7.0"
isosurfaces = "0.1.0"
srt = "^3.5.0"
screeninfo = "^0.8"
Pygments = "^2.10.0"
"backports.cached-property" = { version = "^1.0.1", python = "<3.8" }

[tool.poetry.extras]
jupyterlab = ["jupyterlab"]
gui = ["dearpygui"]

[tool.poetry.dev-dependencies]
pytest-cov = "^3.0.0"
pytest = "^6.0"
pylint = "^2.12.2"
Sphinx = "^4"
sphinx-copybutton = "^0.4.0"
sphinxext-opengraph = "^0.5.1"
furo = "^2021.11.23"
recommonmark = "^0.7.1"
matplotlib = "^3.3.2"
pre-commit = "^2.11.1"
gitpython = "^3"
pygithub = "^1"
flake8 = "^3.9.0"
isort = "^5.8.0"
pytest-xdist = "^2.2"
mypy = "^0.931"
types-requests = "^2.25.6"
types-protobuf = "^3.17.4"
types-decorator = "^0.1.7"
types-setuptools = "^57.0.2"
types-Pillow = "^8.3.3"
types-Pygments = "^2.9.2"
flake8-builtins = "^1.5.3"
flake8-bugbear = "^21.4.3"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
flake8-pytest-style = "^1.5.0"
flake8-simplify = "^0.14.1"
flake8-comprehensions = "^3.7.0"
sphinxcontrib-programoutput = "^0.17"
data-science-types = "^0.2.23"
psutil-wheels = {version = "5.8.0", python = ">=3.10"}
psutil = {version = "^5.8.0", python = "<3.10"}


[tool.poetry.urls]
"Bug Tracker" = "https://github.com/ManimCommunity/manim/issues"
"Changelog" = "https://docs.manim.community/en/stable/changelog.html"
"Twitter" = "https://twitter.com/manim_community"
"Discord" = "https://www.manim.community/discord/"

[tool.poetry.dev-dependencies.black]
version = ">=20.8b1"
allow-prereleases = false
python = "^3.6"
markers = "platform_python_implementation == 'CPython'"

[tool.pytest.ini_options]
markers = "slow: Mark the test as slow. Can be skipped with --skip_slow"
addopts = "--no-cov-on-fail --cov=manim --cov-report xml --cov-report term -n auto --dist=loadfile"

[tool.isort]
# from https://black.readthedocs.io/en/stable/compatible_configs.html
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[tool.coverage.run]
omit = ["*tests*"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover"]

[tool.poetry.plugins]
[tool.poetry.plugins."console_scripts"]
"manim" = "manim.__main__:main"
"manimce" = "manim.__main__:main"

[build-system]
requires = ["setuptools","poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
