[tool.poetry]
name = "manim"
version = "0.5.0"
description = "Animation engine for explanatory math videos."
authors = ["The Manim Community Developers","3b1b <grant@3blue1brown.com>"]
license="MIT"
readme="README.md"
repository="https://github.com/manimcommunity/manim"
documentation="https://docs.manim.community/"
classifiers= [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Topic :: Scientific/Engineering",
    "Topic :: Multimedia :: Video",
    "Topic :: Multimedia :: Graphics",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Natural Language :: English",
    ]
exclude = ["scripts/","logo/","readme-assets/"]
packages = [
    { include = "manim" },
]

[tool.poetry.dependencies]
python = "^3.6.2"
click = "*"
click-default-group = "*"
colour = "*"
numpy = "^1.9"
Pillow = "*"
scipy = "*"
tqdm = "*"
pydub = "*"
pygments = "*"
rich = "^6.0"
pycairo = "^1.19"
manimpango = "^0.2.4"
networkx = "^2.5"
decorator = "<5.0.0"  # remove as soon as https://github.com/networkx/networkx/issues/4718 is resolved
setuptools = "*"
importlib-metadata = {version = "*", python = "<3.8"}
grpcio =  { version = "1.33.*", optional = true }
grpcio-tools = { version = "1.33.*", optional = true }
watchdog = { version = "*", optional = true }
jupyterlab = { version = "^3.0", optional = true }
moderngl = "^5.6.3"
moderngl-window = "^2.3.0"
mapbox-earcut = "^0.12.10"
cloup = "^0.7.0"
requests = "*"
ipywidgets = "^7.6.3"

[tool.poetry.extras]
webgl_renderer = ["grpcio","grpcio-tools","watchdog"]
jupyterlab = ["jupyterlab"]

[tool.poetry.dev-dependencies]
pytest-cov = "*"
pytest = "^6.0"
pylint = "*"
Sphinx = "^3"
sphinx-copybutton = "*"
sphinxext-opengraph = "*"
furo = "*"
recommonmark = "*"
matplotlib = "^3.3.2"
pre-commit = "^2.11.1"
gitpython = "^3"
pygithub = "^1"
flake8 = "^3.9.0"
isort = "^5.8.0"

[tool.poetry.dev-dependencies.black]
version = "^20.8b1"
allow-prereleases = false
python = "^3.6"
markers = "platform_python_implementation == 'CPython'"

[tool.pytest.ini_options]
markers = "slow: Mark the test as slow. Can be skipped with --skip_slow"
addopts = "--cov=manim --cov-report xml --cov-report term"

[tool.isort]
# from https://black.readthedocs.io/en/stable/compatible_configs.html
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[tool.coverage.run]
omit = ["*tests*"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover"]

[tool.poetry.plugins]
[tool.poetry.plugins."console_scripts"]
"manim" = "manim.__main__:main"
"manimce" = "manim.__main__:main"

[build-system]
requires = ["setuptools","poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
