@media (prefers-color-scheme: dark) {
    span.nc {
        text-decoration: none !important;
    }
}

.admonition-manim-example {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.admonition-manim-example p.admonition-title {
    margin: 0;
}

.admonition-manim-example .highlight-python {
    margin: 0;
}

.admonition-manim-example .highlight {
    border-radius: 0;
}

.manim-video {
    width: 100%;
    padding: 8px 0;
    outline: 0;
}

.admonition-manim-example .manim-video {
    padding: 0;
}

.admonition-manim-example img {
    margin-bottom: 0;
}

.admonition-manim-example p:last-child {
    margin-top: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.15rem;
}

.admonition-manim-example .copybtn {
    margin-right: 6px;
    font-size: 18px;
}

.admonition-manim-example .copybtn:hover {
    cursor: pointer;
}

/* yikes-ish attempt at bugfix for navbar on some browsers */
.sidebar-tree a.internal.reference {
    display: table-cell;
}
